tensorflow==2.19.0
pandas 
dvc
mlflow
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
dagshub
cmake
pyarrow
setuptools
opencv-python
python_splitter
numpy==1.26.4
imgaug
-e . #To install all the folders as local packages. To install all the folders as local packages it fill find the constructor __init__.py. This is done using setup.py